{% extends 'dashboard/base.html' %}
{% load bootstrap4 %}

{% load staticfiles %}

{% block css_imports %}
    <link rel="stylesheet" href="{% static 'datatables.net-dt/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
{% endblock %}
{% block js_imports %}
    <script src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'order/js/utils.js' %}"></script>
{% endblock %}

{% block content %}
    <hr/>
    <p>Select search parameters:</p>
    <div class="grid">
        <div class="col-md-3">
            <form class="form">
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}" id="group_{{ field.name }}">
                    {% if not field.name == 'pair' %}
                        <i class="fa fa-calendar"></i>
                    {% else %}
                        <i class="fa fa-align-justify"></i>
                    {% endif %}
                    <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label>
                    <div class="input-group md-3">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            </form>
        </div>
    </div>

    <hr/>
    <p>P&L:</p>
    <div class="col-md-4">
        <table class="table">
            <tbody>
                <tr>
                    <th>P&L Total:</th>
                    <td id="id-pnl-total"></td>
                </tr>
                <tr>
                    <th>P&L Realized:</th>
                    <td id="id-pnl-realized"></td>
                </tr>
                <tr>
                    <th>P&L Unrealized:</th>
                    <td id="id-pnl-unrealized"></td>
                </tr>
                <tr>
                    <th>Total commission:</th>
                    <td id="id-total-commission"></td>
                </tr>
                <tr>
                    <th>REVENUE:</th>
                    <td id="id-revenue"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4>Orders:</h4>
    <table class="table table-responsive table-striped display nowrap" id="orders">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Exchange</th>
                <th>Type</th>
                <th>Pair</th>
                <th>Quantity</th>
                <th>Commission</th>
                <th>Price</th>
                <th>Closed</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Exchange</th>
                <th>Type</th>
                <th>Pair</th>
                <th>Quantity</th>
                <th>Commission</th>
                <th>Price</th>
                <th>Closed</th>
            </tr>
        </tfoot>
    </table>
    <hr/>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
    $(document).ready( function () {
        var $form = $('.form');
        $form.on('submit', function (e) {
            e.preventDefault();
            var url = table.ajax.url();
            var parameters = $(this).serializeArray();
            for (var i in parameters) {
                url = updateURLParameter(url, parameters[i]['name'], parameters[i]['value'])
            }
            table.ajax.url(url).load();
            table.draw();
        });

        function init_pairs(pairs){
          var $self = $('#id_pair');
          var $option=$("<option>All</option>");
          $self.empty();
          $self.append($option);
          $.each(pairs, function(index, pair) {
            $option = $("<option></option>")
              .attr("value", pair)
              .text(pair);
            $self.append($option);
          });
        }

        $("#id_min_date").datepicker({
            onSelect: function (selected) {
                $("#id_max_date").datepicker("option","minDate", selected);
                $form.submit()
            },
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd.mm.yy'
        });

        $("#id_max_date").datepicker({
            onSelect: function (selected) {
                $("#id_min_date").datepicker("option","maxDate", selected);
                $form.submit()
            },
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd.mm.yy'
        });

        $('#id_pair').change(function () {
            $form.submit();
        });
        // DataTable
        var table = $('#orders').DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                url:"{% url 'api:api_order_list' exchange_name=exchange_name %}?format=datatables",
                dataSrc: function(json) {
                    var _pairs = json.pairs;
                    if (typeof _pairs !== 'undefined' && _pairs.length === 1){
                        $('#id-pnl-total').html(json.pnl_total);
                        $('#id-pnl-realized').html(json.pnl_realized);
                        $('#id-pnl-unrealized').html(json.pnl_unrealized);
                        $('#id-total-commission').html(json.total_commission);
                        $('#id-revenue').html(json.revenue);
                        init_pairs(_pairs);
                        $('#id_pair').val(_pairs);
                    }
                    if (typeof  _pairs !== 'undefined' && _pairs.length > 1 || _pairs.length === 0) {
                        $('#id-pnl-total').html(0);
                        $('#id-pnl-realized').html(0);
                        $('#id-pnl-unrealized').html(0);
                        $('#id-total-commission').html(0);
                        $('#id-revenue').html(0);
                        init_pairs(_pairs);
                    }
                    return json.data;
                }
            },
            "columns": [
                {"data": "id", "searchable": true},
                {"data": "exchange", "searchable": true, "name": "exchange.name"},
                {"data": "type", "searchable": true},
                {"data": "pair", "searchable": true},
                {"data": "quantity", "searchable": true},
                {"data": "commission", "searchable": true},
                {"data": "price", "searchable": true},
                {"data": "closed_at", "searchable": true},
            ]
        });

    } );
    </script>
    <style>
        table.dataTable tbody th, table.dataTable tbody td {
            padding: 8px 75px; /* e.g. change 8x to 4px here */
        }
    </style>
{% endblock %}
