{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block css_imports %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'datatables.net-dt/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block js_imports %}
    {{ block.super }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                {% for key, value in object.data.items %}
                    <tr>
                        <td><input class="form-control" type="text" value="{{ key }}" readonly></td>
                        <td><input class="form-control" type="text" value="{{ value }}" readonly></td>
                        <td>
                            <a href="#"
                               data-toggle="modal"
                               data-key="{{ key }}"
                               data-value="{{ value }}"
                               data-target="#modalEdit"><i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <div id="deleteKey">
                                <a href="{% url 'api:strategy_delete_key_view' object.uuid %}" data-key="{{ key }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <form action="{% url 'api:strategy_set_value_view' object.uuid %}" id="newKey">
                            {% csrf_token %}
                            <td><input class="form-control" type="text" name="key"></td>
                            <td><input class="form-control" type="text" name="value"></td>
                            <td><input type="submit" class="btn btn-success btn-block" value="Add"></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <br>
            <form action="{% url 'api:start_strategy_view' object.uuid %}" method="post" id="strategyForm">
                {% csrf_token %}
                <input class="btn btn-secondary btn-block" type="submit" value="up">
            </form>
            <p></p>
            <form action="{% url 'api:close_orders_view' object.uuid %}" method="post">
                {% csrf_token %}
                <input class="btn btn-secondary btn-block" type="submit" value="close orders">
            </form>
            <p></p>
            <form action="{% url 'api:down_strategy_view' object.uuid %}" method="post" id="strategyForm">
                {% csrf_token %}
                <input class="btn btn-secondary btn-block" type="submit" value="down">
            </form>
        </div>
    </div>

    <div class="modal" id="modalEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- body -->
                <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{% url 'api:strategy_set_value_view' object.uuid %}" method="post" class="form-inline" id="strategyEdit">
                            {% csrf_token %}
                            <div class="col-md-3">
                                <span class="input-group-addon" id="key"></span>
                            </div>
                            <div class="col-md-5">
                                <input class="form-control" type="text" value="" name="value" id="value">
                            </div>
                            <div class="col-md-4">
                                <input class="form-control btn btn-sm btn-success" type="submit" value="Change">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $(document).on('click', "#deleteKey", function (event) {
                event.preventDefault();
                var url = $(this).children("a").attr('href');
                var key = $(this).children("a").attr('data-key');
                var csrf = $("{% csrf_token %}");
                $.ajax({
                   type: "POST",
                   url: url,
                   data: csrf.serialize() + '&' + "key="+key,
                   success: function(data)
                   {
                       location.reload();
                   }
                });

            });
        });
        function render_kv_form(key, value) {
            $('span#key').html(key);
            $('input#value').attr('value', value);
        }
        $('#newKey').on('submit', function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data)
                {
                    location.reload();
                }
            });
        });
        $('#strategyEdit').on('submit', function (event) {
            event.preventDefault();
            var form = $(this);
            var key = $('#key').text();
            var data = form.serialize();
            var url = form.attr('action');
            $.ajax({
               type: "POST",
               url: url,
               data: data + '&key=' + key,
               success: function(data)
               {
                   $('#modalEdit').modal('hide');
               }
             });
        });
        $('#modalEdit').on('show.bs.modal', function (event) {
            var $link = $(event.relatedTarget);
            var key = $link.attr('data-key');
            var value = $link.attr('data-value');
            render_kv_form(key, value);
        });
        $('#modalEdit').on('hide.bs.modal', function (event) {
            location.reload();
        });
    </script>
{% endblock %}
