{% extends 'dashboard/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="card">
      <div class="card-body">
        {% if heroku.api_key %}
          <h4>Heroku credentials:</h4>
          API_KEY: {{ heroku.api_key }}
        {% else %}
          <form class="form form-horizontal" role="form" method="post" action="{% url 'api:account_heroku_credentials_view' %}">
          {% bootstrap_form heroku_form %}
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        {% endif %}
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        var $form = $('.form');
        $form.on('submit', function (e) {
            e.preventDefault();
            var action = $(this).attr('action');;
            var data = $(this).serializeArray();
            $.post(action, data)
                .done(function (data) {
                    $form.find(':input:not(:disabled)').prop('disabled',true)
                    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                      $("#success-alert").slideUp(500);
                    })
            })
        });
    </script>
{% endblock %}