{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block css_imports %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block js_imports %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
{% endblock %}

{% block content %}
    <div class=grid">
        <p>Choose date range:</p>
        <div class="row">
            <div class="col-md-3">
                <span class="add-on"><i class="icon-calendar" id="cal"></i></span>
                <i class="fa fa-calendar"></i>
                <span id="date-label-from" class="date-label">From:</span>
                <input class="form-control date_range_filter date" type="text" id="min" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-calendar"></i>
                <span id="date-label-to" class="date-label">To:</span>
                <input class="form-control date_range_filter date" type="text" id="max" />

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <i class="fa fa-align-justify"></i>
                    <label for="pair">Select currency pair:</label>
                    <select class="form-control" id="pair">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <p>Summary:</p>
    <div class="col-md-4">
        <table class="table">
            <tbody>
                <tr>
                    <th>Total BUY:</th>
                    <td id="id-total-buy">0</td>
                </tr>
                <tr>
                    <th>Total SELL:</th>
                    <td id="id-total-sell">0</td>
                </tr>
                <tr>
                    <th>Revenue:</th>
                    <td id="id-total-revenue">0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4>Orders:</h4>
    <table class="table table-responsive table-striped display nowrap" id="orders">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Exchange</th>
                <th>Type</th>
                <th>Pair</th>
                <th>Quantity</th>
                <th>Commission</th>
                <th>Price</th>
                <th>Closed</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Exchange</th>
                <th>Type</th>
                <th>Pair</th>
                <th>Quantity</th>
                <th>Commission</th>
                <th>Price</th>
                <th>Closed</th>
            </tr>
        </tfoot>
    </table>
    <hr/>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">

    $(document).ready( function () {
        function updateURLParameter(url, param, paramVal) {
            var newAdditionalURL = "";
            var tempArray = url.split("?");
            var baseURL = tempArray[0];
            var additionalURL = tempArray[1];
            var temp = "";
            if (additionalURL) {
                tempArray = additionalURL.split("&");
                for (var i=0; i<tempArray.length; i++){
                    if(tempArray[i].split('=')[0] != param){
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }

            var rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }
        function init_pairs(pairs){
          var self = $('#pair');
          var $option=$("<option></option>");
          $('#pair').empty();
          self.append($option);
          $.each(pairs, function(index, pair) {
            $option = $("<option></option>")
              .attr("value", pair)
              .text(pair);
            self.append($option);
          });
        }

        function update_pairs(pairs) {
          var self = $('#pair');
          var $option=$('<option value=""></option>');
          self.empty();
          $.each(pairs, function(index, pair) {
            $option = $("<option></option>")
              .attr("value", pair)
              .text(pair);
            self.append($option);
          });
          $option=$('<option value=""></option>');
          self.append($option);
        }

        $("#min").datepicker({
            onSelect: function () {
                var url = table.ajax.url();
                var min_date = $(this).val();
                var newUrl = updateURLParameter(url, 'closed_at__min', min_date);
                table.ajax.url(newUrl).load();
                table.draw();
            },
            changeMonth: true,
            changeYear: true
        })
        $("#max").datepicker({
            onSelect: function () {
                var url = table.ajax.url();
                var max_date = $(this).val();
                var newUrl = updateURLParameter(url, 'closed_at__max', max_date);
                table.ajax.url(newUrl).load();
                table.draw();
            },
            changeMonth: true,
            changeYear: true
        });
        $('#pair').change(function () {
            var url = table.ajax.url();
            var pair = $(this).val();
            var newUrl = updateURLParameter(url, 'pair', pair);
            table.ajax.url(newUrl).load();
            table.draw();
            update_pairs([pair])
        });
        // DataTable
        var table = $('#orders').DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                url:"{% url 'api:api_order_list' exchange_name=exchange_name %}?format=datatables",
                dataSrc: function(json) {
                    var _pairs = json.pairs;
                    if (typeof _pairs !== 'undefined' && _pairs.length === 1){
                        $('#id-total-buy').html(json.BUY);
                        $('#id-total-sell').html(json.SELL);
                        $('#id-total-revenue').html(json.revenue);
                    }
                    if (typeof  _pairs !== 'undefined' && _pairs.length > 1) {
                        init_pairs(_pairs)
                    }
                    return json.data;
                }
            },
            "columns": [
                {"data": "id", "searchable": true},
                {"data": "exchange", "searchable": true, "name": "exchange.name"},
                {"data": "type", "searchable": true},
                {"data": "pair", "searchable": true},
                {"data": "quantity", "searchable": true},
                {"data": "commission", "searchable": true},
                {"data": "price", "searchable": true},
                {"data": "closed_at", "searchable": true}
            ]
        });

    } );
    </script>
    <style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 75px; /* e.g. change 8x to 4px here */
    }
    </style>
{% endblock %}
