{% extends 'dashboard/base.html' %}
{% block css_imports %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
{% endblock %}
{% block js_imports %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
    <h4>Orders:</h4>
    <table class="table table-striped display responsive nowrap" id="orders">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Exchange</th>
                <th>Type</th>
                <th>Pair</th>
                <th>Quantity</th>
                <th>Commission</th>
                <th>Price</th>
                <th>Closed</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        $(document).ready( function () {
            $('#orders').DataTable();
        } );
    </script>
{% endblock %}
