<!DOCTYPE html>
{% load bootstrap4 staticfiles project_info %}
{% exchanges_online as exchanges_online %}
<html lang="en">
<head>
    <title>{% block title %}{% project_name %}{% endblock %}</title>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    {% bootstrap_javascript jquery='full' %}
    {% block css_imports %}
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    {% endblock %}
    {% block js_imports %}
        <script type="application/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    {% endblock %}
    <style>
    {% block css %}{% endblock %}
    </style>
</head>
<body>
{% bootstrap_messages %}
<div class="container-fluid">
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/"><img src="{% static 'img/logo.png' %}" width="50" height="50"></a>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                {% for exchange in exchanges_online %}
                    <li class="nav-item active">
                        <a class="nav-link"
                           href="{% url 'order:list' exchange_name=exchange.name %}"
                           role="button" aria-haspopup="true"
                           aria-expanded="false"
                        >{{ exchange.name|title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="mx-auto order-0"></div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'strategy:list' %}">Strategy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_app:accounts' %}">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% endblock %}
    <div class="content">
        <div class="alert alert-success" id="success-alert" style="display: none">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong>
            Saved
        </div>
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</div>
</body>

</html>